html *{
	font-smooth: always !important;
	-webkit-font-smooth: always !important;
	-moz-font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility!important;
  font-kerning: none;
  font-style: normal;
  font-weight: 100;
}

@font-face {
	font-family:'light';
	src:url('../fonts/light.eot');
	src:url('../fonts/light.eot') format('embedded-opentype'),
	url('../fonts/light.woff') format('woff'),
	url('../fonts/light.ttf') format('truetype');

}

@font-face {
	font-family:'bold';
	src:url('../fonts/bold.eot');
	src:url('../fonts/bold.eot') format('embedded-opentype'),
		url('../fonts/bold.woff') format('woff'),
		url('../fonts/bold.ttf') format('truetype');
}
@font-face {
	font-family:'thin';
	src:url('../fonts/thin.eot');
	src:url('../fonts/thin.eot') format('embedded-opentype'),
		url('../fonts/thin.woff') format('woff'),
		url('../fonts/thin.ttf') format('truetype');
}

@font-face {
	font-family:'black';
    src:url("../fonts/black.woff2");
    src:url("../fonts/black.woff2?#iefix")format("embedded-opentype"),
		url("../fonts/black.woff") format("woff"),
		url("../fonts/black.ttf") format("truetype");
}

@font-face {
	font-family:'norm';
	src:url('../fonts/norm.eot');
	src:url('../fonts/norm.eot') format('embedded-opentype'),
		url('../fonts/norm.woff') format('woff'),
		url('../fonts/norm.ttf') format('truetype');
}


@font-face {
  font-family: 'icofont';
  src: url('../fonts/icofont.eot?16118772');
  src: url('../fonts/icofont.eot?16118772#iefix') format('embedded-opentype'),
       url('../fonts/icofont.woff?16118772') format('woff'),
       url('../fonts/icofont.ttf?16118772') format('truetype');       
}

[class*="icon-"]:before,
[class*="icon-"]:after {
	font-family: 'icofont';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	speak: none;
}

/* ==================================================
					Typography
================================================== */
$fontBlack : 'black';
$fontLight : 'light';
$fontBold  : 'bold';
$fontNorm  : 'norm';
$fontBody : light;

.icon-alert:before { content: "\f101";}
.icon-alert-circled:before { content: "\f100";}
.icon-add:before { content: "\f2c7";}
.icon-add-circle:before { content: "\f359";}
.icon-alarm-clock:before { content: "\f35a";}
.icon-alert:before { content: "\f35b";}
.icon-apps:before { content: "\f35c";}
.icon-archive:before { content: "\f2c9";}
.icon-arrow-back:before { content: "\f2ca";}
.icon-arrow-down:before { content: "\f35d";}
.icon-arrow-dropdown:before { content: "\f35f";}
.icon-arrow-dropdown-circle:before { content: "\f35e";}
.icon-arrow-dropleft:before { content: "\f361";}
.icon-arrow-dropleft-circle:before { content: "\f360";}
.icon-arrow-dropright:before { content: "\f363";}
.icon-arrow-dropright-circle:before { content: "\f362";}
.icon-arrow-dropup:before { content: "\f365";}
.icon-arrow-dropup-circle:before { content: "\f364";}
.icon-arrow-forward:before { content: "\f30f";}
.icon-arrow-up:before { content: "\f366";}
.icon-attach:before { content: "\f367";}
.icon-bar:before { content: "\f368";}
.icon-bicycle:before { content: "\f369";}
.icon-boat:before { content: "\f36a";}
.icon-bookmark:before { content: "\f36b";}
.icon-bulb:before { content: "\f36c";}
.icon-bus:before { content: "\f36d";}
.icon-calendar:before { content: "\f2d1";}
.icon-call:before { content: "\f2d2";}
.icon-camera:before { content: "\f2d3";}
.icon-cancel:before { content: "\f36e";}
.icon-car:before { content: "\f36f";}
.icon-cart:before { content: "\f370";}
.icon-chat:before { content: "\f2d4";}
.icon-checkbox:before { content: "\f374";}
.icon-checkbox-blank:before { content: "\f371";}
.icon-checkbox-outline:before { content: "\f373";}
.icon-checkbox-outline-blank:before { content: "\f372";}
.icon-checkmark-circle:before { content: "\f375";}
.icon-clipboard:before { content: "\f376";}
.icon-close:before { content: "\f2d7";}
.icon-cloud:before { content: "\f37a";}
.icon-cloud-circle:before { content: "\f377";}
.icon-cloud-done:before { content: "\f378";}
.icon-cloud-outline:before { content: "\f379";}
.icon-color-palette:before { content: "\f37b";}
.icon-compass:before { content: "\f37c";}
.icon-contact:before { content: "\f2d8";}
.icon-contacts:before { content: "\f2d9";}
.icon-contract:before { content: "\f37d";}
.icon-create:before { content: "\f37e";}
.icon-delete:before { content: "\f37f";}
.icon-desktop:before { content: "\f380";}
.icon-document:before { content: "\f381";}
.icon-done:before { content: "\f383";}
.icon-done-all:before { content: "\f382";}
.icon-download:before { content: "\f2dd";}
.icon-drafts:before { content: "\f384";}
.icon-exit:before { content: "\f385";}
.icon-expand:before { content: "\f386";}
.icon-favorite:before { content: "\f388";}
.icon-favorite-outline:before { content: "\f387";}
.icon-film:before { content: "\f389";}
.icon-folder:before { content: "\f2e0";}
.icon-folder-open:before { content: "\f38a";}
.icon-funnel:before { content: "\f38b";}
.icon-globe:before { content: "\f38c";}
.icon-hand:before { content: "\f2e3";}
.icon-hangout:before { content: "\f38d";}
.icon-happy:before { content: "\f38e";}
.icon-home:before { content: "\f38f";}
.icon-image:before { content: "\f2e4";}
.icon-laptop:before { content: "\f390";}
.icon-list:before { content: "\f391";}
.icon-locate:before { content: "\f2e9";}
.icon-lock:before { content: "\f392";}
.icon-mail:before { content: "\f2eb";}
.icon-map:before { content: "\f393";}
.icon-menu:before { content: "\f394";}
.icon-microphone:before { content: "\f2ec";}
.icon-microphone-off:before { content: "\f395";}
.icon-more-horizontal:before { content: "\f396";}
.icon-more-vertical:before { content: "\f397";}
.icon-navigate:before { content: "\f398";}
.icon-notifications:before { content: "\f39b";}
.icon-notifications-none:before { content: "\f399";}
.icon-notifications-off:before { content: "\f39a";}
.icon-open:before { content: "\f39c";}
.icon-options:before { content: "\f39d";}
.icon-people:before { content: "\f39e";}
.icon-person:before { content: "\f3a0";}
.icon-person-add:before { content: "\f39f";}
.icon-phone-landscape:before { content: "\f3a1";}
.icon-phone-portrait:before { content: "\f3a2";}
.icon-pin:before { content: "\f3a3";}
.icon-plane:before { content: "\f3a4";}
.icon-playstore:before { content: "\f2f0";}
.icon-print:before { content: "\f3a5";}
.icon-radio-button-off:before { content: "\f3a6";}
.icon-radio-button-on:before { content: "\f3a7";}
.icon-refresh:before { content: "\f3a8";}
.icon-remove:before { content: "\f2f4";}
.icon-remove-circle:before { content: "\f3a9";}
.icon-restaurant:before { content: "\f3aa";}
.icon-sad:before { content: "\f3ab";}
.icon-search:before { content: "\f2f5";}
.icon-send:before { content: "\f2f6";}
.icon-settings:before { content: "\f2f7";}
.icon-share:before { content: "\f2f8";}
.icon-share-alt:before { content: "\f3ac";}
.icon-star:before { content: "\f2fc";}
.icon-star-half:before { content: "\f3ad";}
.icon-star-outline:before { content: "\f3ae";}
.icon-stopwatch:before { content: "\f2fd";}
.icon-subway:before { content: "\f3af";}
.icon-sunny:before { content: "\f3b0";}
.icon-sync:before { content: "\f3b1";}
.icon-textsms:before { content: "\f3b2";}
.icon-time:before { content: "\f3b3";}
.icon-train:before { content: "\f3b4";}
.icon-unlock:before { content: "\f3b5";}
.icon-upload:before { content: "\f3b6";}
.icon-volume-down:before { content: "\f3b7";}
.icon-volume-mute:before { content: "\f3b8";}
.icon-volume-off:before { content: "\f3b9";}
.icon-volume-up:before { content: "\f3ba";}
.icon-walk:before { content: "\f3bb";}
.icon-warning:before { content: "\f3bc";}
.icon-watch:before { content: "\f3bd";}
.icon-wifi:before { content: "\f305";}
.icon-aperture:before { content: "\f313";}
.icon-archive:before { content: "\f102";}
.icon-arrow-down-a:before { content: "\f103";}
.icon-arrow-down-b:before { content: "\f104";}
.icon-arrow-down-c:before { content: "\f105";}
.icon-arrow-expand:before { content: "\f25e";}
.icon-arrow-graph-down-left:before { content: "\f25f";}
.icon-arrow-graph-down-right:before { content: "\f260";}
.icon-arrow-graph-up-left:before { content: "\f261";}
.icon-arrow-graph-up-right:before { content: "\f262";}
.icon-arrow-left-a:before { content: "\f106";}
.icon-arrow-left-b:before { content: "\f107";}
.icon-arrow-left-c:before { content: "\f108";}
.icon-arrow-move:before { content: "\f263";}
.icon-arrow-resize:before { content: "\f264";}
.icon-arrow-return-left:before { content: "\f265";}
.icon-arrow-return-right:before { content: "\f266";}
.icon-arrow-right-a:before { content: "\f109";}
.icon-arrow-right-b:before { content: "\f10a";}
.icon-arrow-right-c:before { content: "\f10b";}
.icon-arrow-shrink:before { content: "\f267";}
.icon-arrow-swap:before { content: "\f268";}
.icon-arrow-up-a:before { content: "\f10c";}
.icon-arrow-up-b:before { content: "\f10d";}
.icon-arrow-up-c:before { content: "\f10e";}
.icon-asterisk:before { content: "\f314";}
.icon-at:before { content: "\f10f";}
.icon-backspace:before { content: "\f3bf";}
.icon-backspace-outline:before { content: "\f3be";}
.icon-bag:before { content: "\f110";}
.icon-battery-charging:before { content: "\f111";}
.icon-battery-empty:before { content: "\f112";}
.icon-battery-full:before { content: "\f113";}
.icon-battery-half:before { content: "\f114";}
.icon-battery-low:before { content: "\f115";}
.icon-beaker:before { content: "\f269";}
.icon-beer:before { content: "\f26a";}
.icon-bluetooth:before { content: "\f116";}
.icon-bonfire:before { content: "\f315";}
.icon-bookmark:before { content: "\f26b";}
.icon-bowtie:before { content: "\f3c0";}
.icon-briefcase:before { content: "\f26c";}
.icon-bug:before { content: "\f2be";}
.icon-calculator:before { content: "\f26d";}
.icon-calendar:before { content: "\f117";}
.icon-camera:before { content: "\f118";}
.icon-card:before { content: "\f119";}
.icon-cash:before { content: "\f316";}
.icon-chatbox:before { content: "\f11b";}
.icon-chatbox-working:before { content: "\f11a";}
.icon-chatboxes:before { content: "\f11c";}
.icon-chatbubble:before { content: "\f11e";}
.icon-chatbubble-working:before { content: "\f11d";}
.icon-chatbubbles:before { content: "\f11f";}
.icon-checkmark:before { content: "\f122";}
.icon-checkmark-circled:before { content: "\f120";}
.icon-checkmark-round:before { content: "\f121";}
.icon-chevron-down:before { content: "\f123";}
.icon-chevron-left:before { content: "\f124";}
.icon-chevron-right:before { content: "\f125";}
.icon-chevron-up:before { content: "\f126";}
.icon-clipboard:before { content: "\f127";}
.icon-clock:before { content: "\f26e";}
.icon-close:before { content: "\f12a";}
.icon-close-circled:before { content: "\f128";}
.icon-close-round:before { content: "\f129";}
.icon-closed-captioning:before { content: "\f317";}
.icon-cloud:before { content: "\f12b";}
.icon-code:before { content: "\f271";}
.icon-code-download:before { content: "\f26f";}
.icon-code-working:before { content: "\f270";}
.icon-coffee:before { content: "\f272";}
.icon-compass:before { content: "\f273";}
.icon-compose:before { content: "\f12c";}
.icon-connection-bars:before { content: "\f274";}
.icon-contrast:before { content: "\f275";}
.icon-crop:before { content: "\f3c1";}
.icon-cube:before { content: "\f318";}
.icon-disc:before { content: "\f12d";}
.icon-document:before { content: "\f12f";}
.icon-document-text:before { content: "\f12e";}
.icon-drag:before { content: "\f130";}
.icon-earth:before { content: "\f276";}
.icon-easel:before { content: "\f3c2";}
.icon-edit:before { content: "\f2bf";}
.icon-egg:before { content: "\f277";}
.icon-eject:before { content: "\f131";}
.icon-email:before { content: "\f132";}
.icon-email-unread:before { content: "\f3c3";}
.icon-erlenmeyer-flask:before { content: "\f3c5";}
.icon-erlenmeyer-flask-bubbles:before { content: "\f3c4";}
.icon-eye:before { content: "\f133";}
.icon-eye-disabled:before { content: "\f306";}
.icon-female:before { content: "\f278";}
.icon-filing:before { content: "\f134";}
.icon-film-marker:before { content: "\f135";}
.icon-fireball:before { content: "\f319";}
.icon-flag:before { content: "\f279";}
.icon-flame:before { content: "\f31a";}
.icon-flash:before { content: "\f137";}
.icon-flash-off:before { content: "\f136";}
.icon-folder:before { content: "\f139";}
.icon-fork:before { content: "\f27a";}
.icon-fork-repo:before { content: "\f2c0";}
.icon-forward:before { content: "\f13a";}
.icon-funnel:before { content: "\f31b";}
.icon-gear-a:before { content: "\f13d";}
.icon-gear-b:before { content: "\f13e";}
.icon-grid:before { content: "\f13f";}
.icon-hammer:before { content: "\f27b";}
.icon-happy:before { content: "\f31c";}
.icon-happy-outline:before { content: "\f3c6";}
.icon-headphone:before { content: "\f140";}
.icon-heart:before { content: "\f141";}
.icon-heart-broken:before { content: "\f31d";}
.icon-help:before { content: "\f143";}
.icon-help-buoy:before { content: "\f27c";}
.icon-help-circled:before { content: "\f142";}
.icon-home:before { content: "\f144";}
.icon-icecream:before { content: "\f27d";}
.icon-image:before { content: "\f147";}
.icon-images:before { content: "\f148";}
.icon-information:before { content: "\f14a";}
.icon-information-circled:before { content: "\f149";}
.icon-ionic:before { content: "\f14b";}
.icon-alarm:before { content: "\f3c8";}
.icon-alarm-outline:before { content: "\f3c7";}
.icon-albums:before { content: "\f3ca";}
.icon-albums-outline:before { content: "\f3c9";}
.icon-americanfootball:before { content: "\f3cc";}
.icon-americanfootball-outline:before { content: "\f3cb";}
.icon-analytics:before { content: "\f3ce";}
.icon-analytics-outline:before { content: "\f3cd";}
.icon-arrow-back:before { content: "\f3cf";}
.icon-arrow-down:before { content: "\f3d0";}
.icon-arrow-forward:before { content: "\f3d1";}
.icon-arrow-left:before { content: "\f3d2";}
.icon-arrow-right:before { content: "\f3d3";}
.icon-arrow-thin-down:before { content: "\f3d4";}
.icon-arrow-thin-left:before { content: "\f3d5";}
.icon-arrow-thin-right:before { content: "\f3d6";}
.icon-arrow-thin-up:before { content: "\f3d7";}
.icon-arrow-up:before { content: "\f3d8";}
.icon-at:before { content: "\f3da";}
.icon-at-outline:before { content: "\f3d9";}
.icon-barcode:before { content: "\f3dc";}
.icon-barcode-outline:before { content: "\f3db";}
.icon-baseball:before { content: "\f3de";}
.icon-baseball-outline:before { content: "\f3dd";}
.icon-basketball:before { content: "\f3e0";}
.icon-basketball-outline:before { content: "\f3df";}
.icon-bell:before { content: "\f3e2";}
.icon-bell-outline:before { content: "\f3e1";}
.icon-body:before { content: "\f3e4";}
.icon-body-outline:before { content: "\f3e3";}
.icon-bolt:before { content: "\f3e6";}
.icon-bolt-outline:before { content: "\f3e5";}
.icon-book:before { content: "\f3e8";}
.icon-book-outline:before { content: "\f3e7";}
.icon-bookmarks:before { content: "\f3ea";}
.icon-bookmarks-outline:before { content: "\f3e9";}
.icon-box:before { content: "\f3ec";}
.icon-box-outline:before { content: "\f3eb";}
.icon-briefcase:before { content: "\f3ee";}
.icon-briefcase-outline:before { content: "\f3ed";}
.icon-browsers:before { content: "\f3f0";}
.icon-browsers-outline:before { content: "\f3ef";}
.icon-calculator:before { content: "\f3f2";}
.icon-calculator-outline:before { content: "\f3f1";}
.icon-calendar:before { content: "\f3f4";}
.icon-calendar-outline:before { content: "\f3f3";}
.icon-camera:before { content: "\f3f6";}
.icon-camera-outline:before { content: "\f3f5";}
.icon-cart:before { content: "\f3f8";}
.icon-cart-outline:before { content: "\f3f7";}
.icon-chatboxes:before { content: "\f3fa";}
.icon-chatboxes-outline:before { content: "\f3f9";}
.icon-chatbubble:before { content: "\f3fc";}
.icon-chatbubble-outline:before { content: "\f3fb";}
.icon-checkmark:before { content: "\f3ff";}
.icon-checkmark-empty:before { content: "\f3fd";}
.icon-checkmark-outline:before { content: "\f3fe";}
.icon-circle-filled:before { content: "\f400";}
.icon-circle-outline:before { content: "\f401";}
.icon-clock:before { content: "\f403";}
.icon-clock-outline:before { content: "\f402";}
.icon-close:before { content: "\f406";}
.icon-close-empty:before { content: "\f404";}
.icon-close-outline:before { content: "\f405";}
.icon-cloud:before { content: "\f40c";}
.icon-cloud-download:before { content: "\f408";}
.icon-cloud-download-outline:before { content: "\f407";}
.icon-cloud-outline:before { content: "\f409";}
.icon-cloud-upload:before { content: "\f40b";}
.icon-cloud-upload-outline:before { content: "\f40a";}
.icon-cloudy:before { content: "\f410";}
.icon-cloudy-night:before { content: "\f40e";}
.icon-cloudy-night-outline:before { content: "\f40d";}
.icon-cloudy-outline:before { content: "\f40f";}
.icon-cog:before { content: "\f412";}
.icon-cog-outline:before { content: "\f411";}
.icon-color-filter:before { content: "\f414";}
.icon-color-filter-outline:before { content: "\f413";}
.icon-color-wand:before { content: "\f416";}
.icon-color-wand-outline:before { content: "\f415";}
.icon-compose:before { content: "\f418";}
.icon-compose-outline:before { content: "\f417";}
.icon-contact:before { content: "\f41a";}
.icon-contact-outline:before { content: "\f419";}
.icon-copy:before { content: "\f41c";}
.icon-copy-outline:before { content: "\f41b";}
.icon-crop:before { content: "\f41e";}
.icon-crop-strong:before { content: "\f41d";}
.icon-download:before { content: "\f420";}
.icon-download-outline:before { content: "\f41f";}
.icon-drag:before { content: "\f421";}
.icon-email:before { content: "\f423";}
.icon-email-outline:before { content: "\f422";}
.icon-eye:before { content: "\f425";}
.icon-eye-outline:before { content: "\f424";}
.icon-fastforward:before { content: "\f427";}
.icon-fastforward-outline:before { content: "\f426";}
.icon-filing:before { content: "\f429";}
.icon-filing-outline:before { content: "\f428";}
.icon-film:before { content: "\f42b";}
.icon-film-outline:before { content: "\f42a";}
.icon-flag:before { content: "\f42d";}
.icon-flag-outline:before { content: "\f42c";}
.icon-flame:before { content: "\f42f";}
.icon-flame-outline:before { content: "\f42e";}
.icon-flask:before { content: "\f431";}
.icon-flask-outline:before { content: "\f430";}
.icon-flower:before { content: "\f433";}
.icon-flower-outline:before { content: "\f432";}
.icon-folder:before { content: "\f435";}
.icon-folder-outline:before { content: "\f434";}
.icon-football:before { content: "\f437";}
.icon-football-outline:before { content: "\f436";}
.icon-game-controller-a:before { content: "\f439";}
.icon-game-controller-a-outline:before { content: "\f438";}
.icon-game-controller-b:before { content: "\f43b";}
.icon-game-controller-b-outline:before { content: "\f43a";}
.icon-gear:before { content: "\f43d";}
.icon-gear-outline:before { content: "\f43c";}
.icon-glasses:before { content: "\f43f";}
.icon-glasses-outline:before { content: "\f43e";}
.icon-grid-view:before { content: "\f441";}
.icon-grid-view-outline:before { content: "\f440";}
.icon-heart:before { content: "\f443";}
.icon-heart-outline:before { content: "\f442";}
.icon-help:before { content: "\f446";}
.icon-help-empty:before { content: "\f444";}
.icon-help-outline:before { content: "\f445";}
.icon-home:before { content: "\f448";}
.icon-home-outline:before { content: "\f447";}
.icon-infinite:before { content: "\f44a";}
.icon-infinite-outline:before { content: "\f449";}
.icon-information:before { content: "\f44d";}
.icon-information-empty:before { content: "\f44b";}
.icon-information-outline:before { content: "\f44c";}
.icon-ionic-outline:before { content: "\f44e";}
.icon-keypad:before { content: "\f450";}
.icon-keypad-outline:before { content: "\f44f";}
.icon-lightbulb:before { content: "\f452";}
.icon-lightbulb-outline:before { content: "\f451";}
.icon-list:before { content: "\f454";}
.icon-list-outline:before { content: "\f453";}
.icon-location:before { content: "\f456";}
.icon-location-outline:before { content: "\f455";}
.icon-locked:before { content: "\f458";}
.icon-locked-outline:before { content: "\f457";}
.icon-loop:before { content: "\f45a";}
.icon-loop-strong:before { content: "\f459";}
.icon-medical:before { content: "\f45c";}
.icon-medical-outline:before { content: "\f45b";}
.icon-medkit:before { content: "\f45e";}
.icon-medkit-outline:before { content: "\f45d";}
.icon-mic:before { content: "\f461";}
.icon-mic-off:before { content: "\f45f";}
.icon-mic-outline:before { content: "\f460";}
.icon-minus:before { content: "\f464";}
.icon-minus-empty:before { content: "\f462";}
.icon-minus-outline:before { content: "\f463";}
.icon-monitor:before { content: "\f466";}
.icon-monitor-outline:before { content: "\f465";}
.icon-moon:before { content: "\f468";}
.icon-moon-outline:before { content: "\f467";}
.icon-more:before { content: "\f46a";}
.icon-more-outline:before { content: "\f469";}
.icon-musical-note:before { content: "\f46b";}
.icon-musical-notes:before { content: "\f46c";}
.icon-navigate:before { content: "\f46e";}
.icon-navigate-outline:before { content: "\f46d";}
.icon-nutrition:before { content: "\f470";}
.icon-nutrition-outline:before { content: "\f46f";}
.icon-paper:before { content: "\f472";}
.icon-paper-outline:before { content: "\f471";}
.icon-paperplane:before { content: "\f474";}
.icon-paperplane-outline:before { content: "\f473";}
.icon-partlysunny:before { content: "\f476";}
.icon-partlysunny-outline:before { content: "\f475";}
.icon-pause:before { content: "\f478";}
.icon-pause-outline:before { content: "\f477";}
.icon-paw:before { content: "\f47a";}
.icon-paw-outline:before { content: "\f479";}
.icon-people:before { content: "\f47c";}
.icon-people-outline:before { content: "\f47b";}
.icon-person:before { content: "\f47e";}
.icon-person-outline:before { content: "\f47d";}
.icon-personadd:before { content: "\f480";}
.icon-personadd-outline:before { content: "\f47f";}
.icon-photos:before { content: "\f482";}
.icon-photos-outline:before { content: "\f481";}
.icon-pie:before { content: "\f484";}
.icon-pie-outline:before { content: "\f483";}
.icon-pint:before { content: "\f486";}
.icon-pint-outline:before { content: "\f485";}
.icon-play:before { content: "\f488";}
.icon-play-outline:before { content: "\f487";}
.icon-plus:before { content: "\f48b";}
.icon-plus-empty:before { content: "\f489";}
.icon-plus-outline:before { content: "\f48a";}
.icon-pricetag:before { content: "\f48d";}
.icon-pricetag-outline:before { content: "\f48c";}
.icon-pricetags:before { content: "\f48f";}
.icon-pricetags-outline:before { content: "\f48e";}
.icon-printer:before { content: "\f491";}
.icon-printer-outline:before { content: "\f490";}
.icon-pulse:before { content: "\f493";}
.icon-pulse-strong:before { content: "\f492";}
.icon-rainy:before { content: "\f495";}
.icon-rainy-outline:before { content: "\f494";}
.icon-recording:before { content: "\f497";}
.icon-recording-outline:before { content: "\f496";}
.icon-redo:before { content: "\f499";}
.icon-redo-outline:before { content: "\f498";}
.icon-refresh:before { content: "\f49c";}
.icon-refresh-empty:before { content: "\f49a";}
.icon-refresh-outline:before { content: "\f49b";}
.icon-reload:before { content: "\f49d";}
.icon-reverse-camera:before { content: "\f49f";}
.icon-reverse-camera-outline:before { content: "\f49e";}
.icon-rewind:before { content: "\f4a1";}
.icon-rewind-outline:before { content: "\f4a0";}
.icon-rose:before { content: "\f4a3";}
.icon-rose-outline:before { content: "\f4a2";}
.icon-search:before { content: "\f4a5";}
.icon-search-strong:before { content: "\f4a4";}
.icon-settings:before { content: "\f4a7";}
.icon-settings-strong:before { content: "\f4a6";}
.icon-shuffle:before { content: "\f4a9";}
.icon-shuffle-strong:before { content: "\f4a8";}
.icon-skipbackward:before { content: "\f4ab";}
.icon-skipbackward-outline:before { content: "\f4aa";}
.icon-skipforward:before { content: "\f4ad";}
.icon-skipforward-outline:before { content: "\f4ac";}
.icon-snowy:before { content: "\f4ae";}
.icon-speedometer:before { content: "\f4b0";}
.icon-speedometer-outline:before { content: "\f4af";}
.icon-star:before { content: "\f4b3";}
.icon-star-half:before { content: "\f4b1";}
.icon-star-outline:before { content: "\f4b2";}
.icon-stopwatch:before { content: "\f4b5";}
.icon-stopwatch-outline:before { content: "\f4b4";}
.icon-sunny:before { content: "\f4b7";}
.icon-sunny-outline:before { content: "\f4b6";}
.icon-telephone:before { content: "\f4b9";}
.icon-telephone-outline:before { content: "\f4b8";}
.icon-tennisball:before { content: "\f4bb";}
.icon-tennisball-outline:before { content: "\f4ba";}
.icon-thunderstorm:before { content: "\f4bd";}
.icon-thunderstorm-outline:before { content: "\f4bc";}
.icon-time:before { content: "\f4bf";}
.icon-time-outline:before { content: "\f4be";}
.icon-timer:before { content: "\f4c1";}
.icon-timer-outline:before { content: "\f4c0";}
.icon-toggle:before { content: "\f4c3";}
.icon-toggle-outline:before { content: "\f4c2";}
.icon-trash:before { content: "\f4c5";}
.icon-trash-outline:before { content: "\f4c4";}
.icon-undo:before { content: "\f4c7";}
.icon-undo-outline:before { content: "\f4c6";}
.icon-unlocked:before { content: "\f4c9";}
.icon-unlocked-outline:before { content: "\f4c8";}
.icon-upload:before { content: "\f4cb";}
.icon-upload-outline:before { content: "\f4ca";}
.icon-videocam:before { content: "\f4cd";}
.icon-videocam-outline:before { content: "\f4cc";}
.icon-volume-high:before { content: "\f4ce";}
.icon-volume-low:before { content: "\f4cf";}
.icon-wineglass:before { content: "\f4d1";}
.icon-wineglass-outline:before { content: "\f4d0";}
.icon-world:before { content: "\f4d3";}
.icon-world-outline:before { content: "\f4d2";}
.icon-ipad:before { content: "\f1f9";}
.icon-iphone:before { content: "\f1fa";}
.icon-ipod:before { content: "\f1fb";}
.icon-jet:before { content: "\f295";}
.icon-key:before { content: "\f296";}
.icon-knife:before { content: "\f297";}
.icon-laptop:before { content: "\f1fc";}
.icon-leaf:before { content: "\f1fd";}
.icon-levels:before { content: "\f298";}
.icon-lightbulb:before { content: "\f299";}
.icon-link:before { content: "\f1fe";}
.icon-load-a:before { content: "\f29a";}
.icon-load-b:before { content: "\f29b";}
.icon-load-c:before { content: "\f29c";}
.icon-load-d:before { content: "\f29d";}
.icon-location:before { content: "\f1ff";}
.icon-lock-combination:before { content: "\f4d4";}
.icon-locked:before { content: "\f200";}
.icon-log-in:before { content: "\f29e";}
.icon-log-out:before { content: "\f29f";}
.icon-loop:before { content: "\f201";}
.icon-magnet:before { content: "\f2a0";}
.icon-male:before { content: "\f2a1";}
.icon-man:before { content: "\f202";}
.icon-map:before { content: "\f203";}
.icon-medkit:before { content: "\f2a2";}
.icon-merge:before { content: "\f33f";}
.icon-mic-a:before { content: "\f204";}
.icon-mic-b:before { content: "\f205";}
.icon-mic-c:before { content: "\f206";}
.icon-minus:before { content: "\f209";}
.icon-minus-circled:before { content: "\f207";}
.icon-minus-round:before { content: "\f208";}
.icon-model-s:before { content: "\f2c1";}
.icon-monitor:before { content: "\f20a";}
.icon-more:before { content: "\f20b";}
.icon-mouse:before { content: "\f340";}
.icon-music-note:before { content: "\f20c";}
.icon-navicon:before { content: "\f20e";}
.icon-navicon-round:before { content: "\f20d";}
.icon-navigate:before { content: "\f2a3";}
.icon-network:before { content: "\f341";}
.icon-no-smoking:before { content: "\f2c2";}
.icon-nuclear:before { content: "\f2a4";}
.icon-outlet:before { content: "\f342";}
.icon-paintbrush:before { content: "\f4d5";}
.icon-paintbucket:before { content: "\f4d6";}
.icon-paper-airplane:before { content: "\f2c3";}
.icon-paperclip:before { content: "\f20f";}
.icon-pause:before { content: "\f210";}
.icon-person:before { content: "\f213";}
.icon-person-add:before { content: "\f211";}
.icon-person-stalker:before { content: "\f212";}
.icon-pie-graph:before { content: "\f2a5";}
.icon-pin:before { content: "\f2a6";}
.icon-pinpoint:before { content: "\f2a7";}
.icon-pizza:before { content: "\f2a8";}
.icon-plane:before { content: "\f214";}
.icon-planet:before { content: "\f343";}
.icon-play:before { content: "\f215";}
.icon-playstation:before { content: "\f30a";}
.icon-plus:before { content: "\f218";}
.icon-plus-circled:before { content: "\f216";}
.icon-plus-round:before { content: "\f217";}
.icon-podium:before { content: "\f344";}
.icon-pound:before { content: "\f219";}
.icon-power:before { content: "\f2a9";}
.icon-pricetag:before { content: "\f2aa";}
.icon-pricetags:before { content: "\f2ab";}
.icon-printer:before { content: "\f21a";}
.icon-pull-request:before { content: "\f345";}
.icon-qr-scanner:before { content: "\f346";}
.icon-quote:before { content: "\f347";}
.icon-radio-waves:before { content: "\f2ac";}
.icon-record:before { content: "\f21b";}
.icon-refresh:before { content: "\f21c";}
.icon-reply:before { content: "\f21e";}
.icon-reply-all:before { content: "\f21d";}
.icon-ribbon-a:before { content: "\f348";}
.icon-ribbon-b:before { content: "\f349";}
.icon-sad:before { content: "\f34a";}
.icon-sad-outline:before { content: "\f4d7";}
.icon-scissors:before { content: "\f34b";}
.icon-search:before { content: "\f21f";}
.icon-settings:before { content: "\f2ad";}
.icon-share:before { content: "\f220";}
.icon-shuffle:before { content: "\f221";}
.icon-skip-backward:before { content: "\f222";}
.icon-skip-forward:before { content: "\f223";}
.icon-android:before { content: "\f225";}
.icon-outline:before { content: "\f224";}
.icon-angular:before { content: "\f4d9";}
.icon-angular-outline:before { content: "\f4d8";}
.icon-apple:before { content: "\f227";}
.icon-apple-outline:before { content: "\f226";}
.icon-bitcoin:before { content: "\f2af";}
.icon-bitcoin-outline:before { content: "\f2ae";}
.icon-buffer:before { content: "\f229";}
.icon-buffer-outline:before { content: "\f228";}
.icon-chrome:before { content: "\f4db";}
.icon-chrome-outline:before { content: "\f4da";}
.icon-codepen:before { content: "\f4dd";}
.icon-codepen-outline:before { content: "\f4dc";}
.icon-css3:before { content: "\f4df";}
.icon-css3-outline:before { content: "\f4de";}
.icon-designernews:before { content: "\f22b";}
.icon-designernews-outline:before { content: "\f22a";}
.icon-dribbble:before { content: "\f22d";}
.icon-dribbble-outline:before { content: "\f22c";}
.icon-dropbox:before { content: "\f22f";}
.icon-dropbox-outline:before { content: "\f22e";}
.icon-euro:before { content: "\f4e1";}
.icon-euro-outline:before { content: "\f4e0";}
.icon-fb:before { content: "\f231";}
.icon-facebook-outline:before { content: "\f230";}
.icon-foursquare:before { content: "\f34d";}
.icon-foursquare-outline:before { content: "\f34c";}
.icon-freebsd-devil:before { content: "\f2c4";}
.icon-github:before { content: "\f233";}
.icon-github-outline:before { content: "\f232";}
.icon-google:before { content: "\f34f";}
.icon-google-outline:before { content: "\f34e";}
.icon-googleplus:before { content: "\f235";}
.icon-googleplus-outline:before { content: "\f234";}
.icon-hackernews:before { content: "\f237";}
.icon-hackernews-outline:before { content: "\f236";}
.icon-html5:before { content: "\f4e3";}
.icon-html5-outline:before { content: "\f4e2";}
.icon-instagram:before { content: "\f351";}
.icon-instagram-outline:before { content: "\f350";}
.icon-javascript:before { content: "\f4e5";}
.icon-javascript-outline:before { content: "\f4e4";}
.icon-linkedin:before { content: "\f239";}
.icon-linkedin-outline:before { content: "\f238";}
.icon-markdown:before { content: "\f4e6";}
.icon-nodejs:before { content: "\f4e7";}
.icon-octocat:before { content: "\f4e8";}
.icon-pinterest:before { content: "\f2b1";}
.icon-pinterest-outline:before { content: "\f2b0";}
.icon-python:before { content: "\f4e9";}
.icon-reddit:before { content: "\f23b";}
.icon-reddit-outline:before { content: "\f23a";}
.icon-rss:before { content: "\f23d";}
.icon-rss-outline:before { content: "\f23c";}
.icon-sass:before { content: "\f4ea";}
.icon-skype:before { content: "\f23f";}
.icon-skype-outline:before { content: "\f23e";}
.icon-snapchat:before { content: "\f4ec";}
.icon-snapchat-outline:before { content: "\f4eb";}
.icon-tumblr:before { content: "\f241";}
.icon-tumblr-outline:before { content: "\f240";}
.icon-tux:before { content: "\f2c5";}
.icon-twitch:before { content: "\f4ee";}
.icon-twitch-outline:before { content: "\f4ed";}
.icon-twitter:before { content: "\f243";}
.icon-twitter-outline:before { content: "\f242";}
.icon-usd:before { content: "\f353";}
.icon-usd-outline:before { content: "\f352";}
.icon-vimeo:before { content: "\f245";}
.icon-vimeo-outline:before { content: "\f244";}
.icon-whatsapp:before { content: "\f4f0";}
.icon-whatsapp-outline:before { content: "\f4ef";}
.icon-windows:before { content: "\f247";}
.icon-windows-outline:before { content: "\f246";}
.icon-wordpress:before { content: "\f249";}
.icon-wordpress-outline:before { content: "\f248";}
.icon-yahoo:before { content: "\f24b";}
.icon-yahoo-outline:before { content: "\f24a";}
.icon-yen:before { content: "\f4f2";}
.icon-yen-outline:before { content: "\f4f1";}
.icon-youtube:before { content: "\f24d";}
.icon-youtube-outline:before { content: "\f24c";}
.icon-soup-can:before { content: "\f4f4";}
.icon-soup-can-outline:before { content: "\f4f3";}
.icon-speakerphone:before { content: "\f2b2";}
.icon-speedometer:before { content: "\f2b3";}
.icon-spoon:before { content: "\f2b4";}
.icon-star:before { content: "\f24e";}
.icon-stats-bars:before { content: "\f2b5";}
.icon-steam:before { content: "\f30b";}
.icon-stop:before { content: "\f24f";}
.icon-thermometer:before { content: "\f2b6";}
.icon-thumbsdown:before { content: "\f250";}
.icon-thumbsup:before { content: "\f251";}
.icon-toggle:before { content: "\f355";}
.icon-toggle-filled:before { content: "\f354";}
.icon-transgender:before { content: "\f4f5";}
.icon-trash-a:before { content: "\f252";}
.icon-trash-b:before { content: "\f253";}
.icon-trophy:before { content: "\f356";}
.icon-tshirt:before { content: "\f4f7";}
.icon-tshirt-outline:before { content: "\f4f6";}
.icon-umbrella:before { content: "\f2b7";}
.icon-university:before { content: "\f357";}
.icon-unlocked:before { content: "\f254";}
.icon-upload:before { content: "\f255";}
.icon-usb:before { content: "\f2b8";}
.icon-videocamera:before { content: "\f256";}
.icon-volume-high:before { content: "\f257";}
.icon-volume-low:before { content: "\f258";}
.icon-volume-medium:before { content: "\f259";}
.icon-volume-mute:before { content: "\f25a";}
.icon-wand:before { content: "\f358";}
.icon-waterdrop:before { content: "\f25b";}
.icon-wifi:before { content: "\f25c";}
.icon-wineglass:before { content: "\f2b9";}
.icon-woman:before { content: "\f25d";}
.icon-wrench:before { content: "\f2ba";}
.icon-xbox:before { content: "\f30c";}
