@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

/* ANIMATION 'MOVE-LEFT' */
@include keyframes(moveLeft) {
  0%   { transform: translate3d(0,0,0);}
  100% { transform: translate3d(-100%,0,0);}
}
/* ANIMATION 'MOVE-RIGHT' */
@include keyframes(moveRight) {
  0%   { transform: translate3d(0,0,0);}
  100% { transform: translate3d(100%,0,0);}
}
/* ANIMATION 'FADE-IN' */
@include keyframes(fadeIn) {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* ANIMATION 'FADE-OUT' */
@include keyframes(fadeOut) {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
